body{
    background-image: url(SF_Skyline.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* image will cover entire window and maintain aspect ratio */
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* viewport height */
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsl(0, 0%, 100%, 0.1);
    width: 100%;
}